*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App{
  /* background-color: black; */
}

.container{
  background-color: rgba(241, 239, 239, 0.517);
  max-width: 25rem;
  border-radius: 10px;
  color: black;
  border: 2px solid red;
  box-shadow: -4px 4px rgba(203, 89, 89, 0.871);
  margin-bottom: 4rem;
}
.Display{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  min-width: 15rem;
}

.h1{
  padding-top: 12px;
}